../idea/
.vscode/
./Backend/node_modules/
Backend/.env
Backend/build
Backend/.DS_Store
Backend/*.tgz
Backend/my-app*
Backend/template/src/__tests__/__snapshots__/
Backend/lerna-debug.log
Backend/npm-debug.log*
Backend/yarn-debug.log*
Backend/yarn-error.log*
Backend/.changelog
Backend/.npm/
Backend/yarn.lock
Backend/package-lock.json

client/.env
client/node_modules
client/build
client/.DS_Store
client/*.tgz
client/my-app*
client/template/src/__tests__/__snapshots__/
client/lerna-debug.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.changelog
client/.npm/
client/yarn.lock
client/package-lock.json